body {
    margin: 0;
}


.div-main {

width: 550px;
height: 729px;
left: 76px;
top: 126px;  

background: #F4F4F4;
border: 3px solid #B295FF;
margin: auto;

text-align: center; 
}


/* Converstion section */

.div-main-sectionOne {
     background: #6943FF;
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; 
     text-align: center;
     width: 550px;
     padding-bottom: 56px;

}

h1 {
    

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 38px;
/* identical to box height, or 136% */

text-align: center;
letter-spacing: -0.03em;

color: #FFFFFF;
}

#convert-div {
     display: flex;
     flex-direction: column;
     justify-content: center;
    width: 117px;


     
 
}

#convert-input {

font-family: 'Chicle', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 24px;

background-color: #6943FF;
border: 2px solid #B295FF;
border-radius: 5px;
text-align: center;
color: #F4F4F4; 
margin-bottom: 15px



}

#convert-btn {
 
width: 117px;
height: 42px;
left: 217px;
top: 209px;

background: #FFFFFF;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 5px;
/* text-base/leading-6/font-medium */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #3D3D3D;
}



/* Display section */
.div-main-sectionTwo {

display: flex; 
flex-direction: column;


filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
margin-left: 10px;
margin-bottom: 10px;
}


#groupOne, #groupTwo, #groupThree {
    /* Grid Lists/Card */
width: 520px;
height: 90.57px;
display: flex;
justify-content: center;
align-content: center;

/* white */
background: #FFFFFF;
border-radius: 4.68077px 0px 0px 0px;
margin-top: 45px;
font-family: 'Inter';
color: #5A537B;



    
}

#groupOne-length, #groupTwo-volume, #groupThree-mass {
      width: 360px;
      height: 59px;
      
   
/* or 100% */

    
}



/* Heads h4 */

#length-h4, #volume-h4, #mass-h4 {
       text-align: center;
      font-style: normal;
      font-weight: 600px;
      font-size: 20px;
      line-height: 20px;

    
}

/* Paragraphs */
#length-p, #volume-p, #mass-p {
    /* text-sm/leading-5/font-normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

text-align: center;

color: #353535;
    
}





